.anychart-tooltip {
    font-size: 25px;
}
body {
    margin: 0;
    background-color: #3d3d3d9f;
    font-family: 'Source Sans Pro', sans-serif;
}

#topleft ::-webkit-scrollbar {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }

body > header > nav > img {
    width: 40px;
    height: 40px;
    border: 3px solid #adadad3f;
    border-radius: 50%;
    margin-left: 5px;
}

#Clear {
    background-color: #d1d1d19f;
    cursor: pointer;
    box-shadow: #f7f5f571 0 -12px 6px inset;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font: 1em;
    border-radius: 15%;
}

#Clear:hover {
    background-color: #ffffffab;
    box-shadow: #4949498f 0 -6px 8px inset;
    transform: scale(1.05);
}
  
#Clear:active {
    transform: scale(1.00);
}

#columnL {
    grid-row-start: 2;
    height: auto;
    text-align: center;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: 1px solid black;
    border-bottom: 3px solid black;
    margin-left: 40px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background: #b8b8b8b6;
    margin-bottom: 40px;
}


#columnR {
    grid-row-start: 2;
    height: auto;
    text-align: center;
    border-right: 3px solid black;
    border-left: 1px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-bottom: .5em;
    margin-right: 40px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background: #b8b8b8b6;
    margin-bottom: 40px;
}

#columnR > div {
    margin-left: 2em;
    margin-right: 2em;
}

#columnR > div > div > details > summary > strong {
    cursor: pointer;
}

#columnR > div > div > details > a {
    color: white;
}

#columnR > h3 > span {
    padding-left: 15px;
}
#columnR > div > div > table {
    margin-bottom: 5px;
}

#columnR > h3 {
    padding-left: 30px;
}

.directory {
    float: left;
    border: 1px solid black;
    height: 30px;
    display: block;
    background-color: grey;
    padding: 10px 10px 10px 10px;
}

#description {
    margin-bottom: 0em;
}

div > table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5em;
    text-align: left;
    margin-top: .5em;
}

h1 {
    font-size: 40px;
    margin: 0px;
    padding-top: 3px;
    padding-left: 5px;
    color: white;
}

h3 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 45px;
}
h4 {
    padding: 20px 25px 0px 25px;
}

header {
    margin: 0px;
    height: 350px;
    background-color: #3d3d3dbd;
}

input {
    background-color: #b8b8b8b6;
}

nav {
    display: flex;
    vertical-align: top;
    width: 100%;
    align-items: center;
    background-color: rgb(49, 48, 48);
    border-bottom: solid black;
}

#page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
}

#Search {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 15px;
    text-align: center; 
    border-top: 5px solid black;
    padding-top: 15px;
}

#Search > button {
    background-color: #d1d1d19f;
    cursor: pointer;
    box-shadow: #f7f5f571 0 -12px 6px inset;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font: 1em;
    border-radius: 15%;
}

#Search > button:hover {
    background-color: #ffffffab;
    box-shadow: #4949498f 0 -6px 8px inset;
    transform: scale(1.05);
  }
  
#Search > button:active {
    transform: scale(1.00);
  }

#Search > input {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-weight: 900;
}

#Search > input::placeholder {
    color: black;
}

#searchResults {
    list-style: none;
    margin: auto;
    padding-inline-start: 0px;
}

#searchResults > li {
    height: 40px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#searchResults > li:last-child {
    height: 40px;
    border-bottom: 1px solid black;
}

span > img {
    margin: 8px 0px 0px 10px;
}

#top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    height: 295px;
    text-align: center;
    max-height: 295px;
}

#topleft {
    grid-row-start: 2;
    border-right: 3px solid black;
    height: 295px;
    max-height: 295px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    display: inline;
    padding-bottom: 0%;
}
#topright {
    grid-row-start: 2;
    height: 295px;
    background-image: url(https://wallpapersmug.com/large/ba787c/black-dark-cubes-abstract.jpg);
    color: white;
    max-height: 295px;
    box-shadow: #000000b7 -10px 0px 10px;
}

#topright > h4:nth-child(1) {
    margin-top: 10px;
}

.trending {
    margin-top: 40px;
    height: 200px;
    width: 150px;
    display: inline-block;
    background-color: #b8b8b8b6;
    border: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15%;
    vertical-align: middle;
    scroll-snap-align: center;
    box-shadow: #000000 -15px 10px 8px;
    animation: trendingScroll 18s linear infinite;
}

@keyframes trendingScroll {
    0% {transform: translateX(-840px); }
    50% {transform: translateX(20px);}
    100% {transform: translateX(-840px);}
}

.trendingName {
    padding: 10px 0 10px 0;
    margin: 0;
    border-bottom: 3px solid black;
}

 #topleft::-webkit-scrollbar {
    display: none;
  } 

@media (max-width: 560px) {
    #Clear {
        font-size: 10px;
        box-sizing: none;
    }
    #columnL {
        margin-left: 10px;
        font-size: 10px;
    }
    #columnR {
        margin-right: 10px;
        font-size: 10px;
    }
    #columnR > h3 > span {
        padding-left: 0px;
    }
    #columnR > h3 {
        padding-left: 0px;
    }
    h4 {
        font-size: 12px;
    }
    #searchResults > li {
        height: max-content;
    }
    #searchResults > li > span > img {
        display: none;
    }
    #topright {
        background-size: cover;
    }
    .trending {
        animation: trendingScroll 30s linear infinite;
    }
    @keyframes trendingScroll {
        0% {transform: translateX(-1200px); }
        50% {transform: translateX(20px);}
        100% {transform: translateX(-1200px);}
    }    
}

/* Credit https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/ 
https://css-tricks.com/almanac/properties/s/scrollbar/ 
https://stackoverflow.com/questions/40698758/css-infinite-horizontal-scroll-with-keyframe
*/